{
  "$schema": "https://wails.io/schemas/config.v2.json",
  "name": @@APP_NAME@@,
  "outputfilename": @@APP_NAME@@,
  "frontend:dir": "frontend",
  "frontend:install": "",
  "frontend:build": "node ../scripts/verify-runtime.mjs",
  "frontend:dev:watcher": "",
  "frontend:dev:serverUrl": "",
  "info": {
    "productName": @@APP_NAME@@,
    "productVersion": "0.1.0"
  }
}
